body {
    background-color: black;
}
main {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    background-color: blue;
}
img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}
h2, h3 {
    margin: 0 0;
}