:root {
    --primary-color: #1C3879;
    --secondary-color: #5F7FA8;
    --accent1-color: #EAE3D1;
    --accent2-color: #F9F5EC;
  
    --heading-font: Garamond;
    --paragraph-font: Helvetica, sans-serif;
    --monospace-font: Inconsolata;
  
    --headline-color-on-white: var(--secondary-color);  /* headlines on a white background */ 
    --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
    --paragraph-color-on-white: var(--secondary-color); /* paragraph text on a white background */ 
    --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: var(--accent1-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--primary-color);
  }
/* General styling--block colors and fonts */
body {
    /* Font sizing and default body font */
}
nav {

}
footer {
    
}
a {

}


.logo {
    /* size for the nav, use elsewhere */
}
nav a:hover {

}

.favorites {
    /* flex arrangement for subnav */
    /* border */
}
.favorites a {
    /* different color? */

}
.favorites a:hover {
    /* different color*/
}

footer {
    /* bkg + font */
}